.DS_Store

ingest-worker/.yarn/*
!ingest-worker/.yarn/patches
!ingest-worker/.yarn/plugins
!ingest-worker/.yarn/releases
!ingest-worker/.yarn/sdks
!ingest-worker/.yarn/versions

ingest-worker/node_modules
