.DS_Store

ingest-worker/.yarn/*
!ingest-worker/.yarn/patches
!ingest-worker/.yarn/plugins
!ingest-worker/.yarn/releases
!ingest-worker/.yarn/sdks
!ingest-worker/.yarn/versions

ingest-worker/node_modules

infra/terraform/.terraform/*
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*

infra/docker/volumes/caddy/data
infra/docker/volumes/loki/data
